.toc {
  width: 100%;
}

.toc__title {
  font-size: 40px;
}

.toc-nav__tree-item {
  padding: 8px 0;
}


.toc-nav__tree-item {
  display: flex;

  position: relative;
}
.toc-nav__tree-item:after {
  content: "";

  width: 100%;
  height: 24px;

  display: block;

  position: absolute;
  /*left: 0;*/

  overflow-x: hidden;
}
.toc__link {
  max-width: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;


  overflow-x: hidden;
  color: rgba(0,0,0,.8);
  text-decoration: none;

  position: relative;
}

.toc__link_title:before {
  content: target-text(attr(href url));

  background-color: white;

  padding: 0 16px 0 0;
  /*content: "Some text";*/

  /*flex-shrink: 0;*/
}
.toc__link_dots:before {
  content:
      "...................................."
      "...................................."
      "...................................."
      "...................................."
      "...................................."
      "...................................."
      "...................................."
      "...................................."
      "....................................";

  text-overflow: ellipsis;
  overflow: hidden;

  margin: 0 24px;

  position: absolute;
  left: 0;
  right: 0;

  z-index: -1;
}

.toc__link_index{
  margin: 0 0 0 24px;


}
.toc__link_index:before {
  content: target-counter(attr(href url), page);

  background-color: white;

  padding: 0 0 8px 0;
  display: inline-block;
}


.tree-item_level-0 > .toc__link {
  font-weight: bold;
}
.tree-item_level-1 {
  /*padding-left: 24px;*/
}
