@import "../../styles/app-vars";

@mixin app-bar-dropdown_open-state{
  &{
    display: block;
  }
}
@mixin app-bar-dropdown_close-state{
  &{
    display: none;
  }
}

.app-bar-dropdown__menu_open{
  @media all and (min-width: $app-bar_media_xs){
    @include app-bar-dropdown_open-state;
  }
}
.app-bar-dropdown__menu_close{
  @media all and (max-width: $app-bar_media_xs){
    @include app-bar-dropdown_close-state;
  }
}

.app-bar-dropdown{
  position: relative;
}

.app-bar-dropdown__toggle{

}
.app-bar-dropdown__menu{
  position: absolute;

  @media all and (min-width: $app-bar_media_xs){
    position: relative;
  }
}