$app-nav__item-length: 4;
$app-nav__item_height: 50px;
$app-nav__item_margin-bottom: 8px;
$app-nav__height:
        $app-nav__item_height * $app-nav__item_length +
        $app-nav__item_margin-bottom * ($app-nav__item-length - 1);


$item-length: $app-nav__item_length;
$item_open_sec: .1s;
$nav_open_sec: $item-length * $item_open_sec;

:root {
  --app-nav__item_bg-color: rgba(0, 0, 0, .1);
  --app-nav__item_border-radius: 5px;

  --app-nav__item_length:#{$app-nav__item_length};
  --app-nav__item_height:50px;
  --app-nav__item_row-gap:8px;
  --app-nav__height:#{$app-nav__height};

}



@mixin generateAppBarItemTransition(){
  @for $i from 1 through 4 {
    &[toggle="open"]>.app-nav__item:nth-child(#{$i}) {
      opacity: 1;
      transition:
              transform $item_open_sec ease #{($i - 1) * $item_open_sec},
              opacity .1s ease #{($i - 1) * $item_open_sec};
      transform:translateX(0);
    }
  }
}
@mixin generateAppBarItemTransform(){
  @for $i from 4 through 0 {
    &[toggle="close"]>.app-nav__item:nth-child(#{$i}) {
      opacity: 0;
      transition:
              all $item_open_sec ease #{(4 - $i) * $item_open_sec};
      transform: translateX(-50px);
    }
  }
}

.app-nav {
  height: var(--app-nav__height);
  padding: 0 16px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  transform-origin: top;

  &[toggle="open"]{
    margin-top:24px;
    transition:
            margin-top 0s,
            height $nav_open_sec ease-out;
  }
  &[toggle="close"]{
    margin-top: 0;
    transition:
            margin-top 0s linear $nav_open_sec,
            height $nav_open_sec ease-out $item_open_sec;
    height: 0;
  }

  @include generateAppBarItemTransition();
  @include generateAppBarItemTransform();

}
.app-nav__item{
  background-color: var(--app-nav__item_bg-color);

  border-radius: var(--app-nav__item_border-radius);

  padding: 16px 24px;

  &:not(:last-child){
    margin: 0 0 8px 0;
  }


}
.app-nav__link {
}