<div class="spilling-error-feedback-menu-item-content">
    <md-content class="spilling-error__warning md-headline">
        <div class="md-layout md-alignment-center-left">
            <svg-icon class="spilling-error__warning__icon" name="baseline-error_outline-24px"></svg-icon>
            <span class="spilling-error__warning__title">Работает только в книге</span>
        </div>
    </md-content>
    <md-list class="spilling-error__list md-alignment-center-left">
        <md-list-item>
            <div class="spilling-error__list__list-item__alignment md-layout md-alignment-center-left">
                <span class="spilling-error__list__list-item__num-step">1</span>
                <span class="spilling-error__list__list-item__title">Выделите текст</span>
            </div>
        </md-list-item>
        <md-list-item>
            <div class="spilling-error__list__list-item__alignment md-layout md-alignment-center-left">
                <span class="spilling-error__list__list-item__num-step">2</span>
                <span class="spilling-error__list__list-item__title">Нажмите на появившуюся кнопку</span>
            </div>
        </md-list-item>
        <md-list-item>
            <div class="spilling-error__list__list-item__alignment md-layout md-alignment-center-left">
                <span class="spilling-error__list__list-item__num-step">3</span>
                <span class="spilling-error__list__list-item__title">Введите исправленный вариант в появившемся окне</span>
            </div>
        </md-list-item>
    </md-list>
</div>
