@import "../../styles/breakpoints";
@import "../../styles/app-vars";

.content-layout-grid{
  width: 100%;

  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
          "control-bar control-bar control-bar"
          "aside-bar_left main aside-bar_right";

  position: relative;
  //@media all and (min-width: $content__nav_down_media){
  //  grid-template-rows: auto 1fr;
  //  grid-template-areas:
  //          "control-bar control-bar control-bar"
  //          "aside-bar_left main aside-bar_right";
  //
  //}

}
.content-layout-grid-item__control-bar {
  display:flex;
  justify-content: center;

  grid-area: control-bar;

  position: sticky;
  top: var(--content-layout_position_top);

  z-index: 9999999999999999;

}
.content-layout-grid-item__aside-bar_left {
  grid-area: aside-bar_left;


  @media all and (min-width: $content__nav_down_media){
    position: sticky;
    top: var(--content-layout__aside-bar_position_top);

  }

}
.content-layout-grid-item__aside-bar_right {
  grid-area: aside-bar_right;


  @media all and (min-width: $content__nav_down_media){
    position: sticky;
    top: var(--content-layout__aside-bar_position_top);

  }

}
.content-layout-grid-item__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-area: main;
}

