@import "../../styles/breakpoints";
@import "../../styles/app-vars";

$native-scrollbar_width:16px;

.content-layout {
  max-width: var(--content-layout_max-width);
  //padding: 0 $native-scrollbar_width 0 0;

  display:flex;
  flex-direction: column;
  align-items:center;

  position: relative;

  @media all and (min-width: $content__nav_down_media){
    //flex-direction: row;

  }

}

.content-layout__control-bar {
  width: 100%;

  display: flex;
  justify-content: center;

  position: sticky;
  top: var(--app-header_height);

  z-index: 1;

}
.content-layout__content {
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 0;
  
}

.content {
  max-width: var(--app-content_width);

  width: 100%;

  margin: 32px 0;


}

///TODO:[refactoring][extract]
.content-without-control {
  @media all and(max-width: $app-content_media_xs) {
    //max-width: 100%;

    padding: 0 24px;

    position: relative;
  }
}
///TODO:[refactoring][extract]
.content-with-control{
  @media all and(max-width:$content__nav_down_media){
    padding:0 24px;
  }
}