@import "../../styles/breakpoints";
@import "../../styles/app-vars";

$native-scrollbar_width:16px;

.content-layout {
  max-width: var(--content-layout_max-width);
  //padding: 0 $native-scrollbar_width 0 0;

  display:flex;
  flex-direction: column;
  align-items:center;

  position: relative;

  @media all and (min-width: $content__nav_down_media){
    //flex-direction: row;

  }

}

.content-layout__control-bar {
  width: 100%;

  display: flex;
  justify-content: center;

  position: sticky;
  top: var(--app-header_height);

  z-index: 1;

}
.content-layout__content {
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 0;
  
}