@import "../../styles/app-vars";
@import "../../styles/mixins/user-activity";


$app-bar__nav-toggle_width:40px;
$app-bar__menu-toggle_width:40px;
$app-bar__logo_width:40px;

$app-bar_width-without-search:
  $app-bar__nav-toggle_width+
  $app-bar__logo_width+
  $app-bar__menu-toggle_width;




//$app-search_outside_min-size:
//$app-bar__driver-toggle-button_width+
//  $app-bar__logo_width+



:root {
  --app-bar__search_width: calc(100vw - #{$app-bar_width-without-search});

}
button,
input{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

input:focus,
input:active{
  border: none;
  outline: none;
}



.search{
  max-width: $app-search__max-width_open-state;
  //max-height: $app-search__max-height_open-state;
  width: 100%;

  //background: rgba(0,0,0,.1);
  background: var(--app-search_background_color);

  border-radius: var(--app-search_border-radius);

  font-size: 1.1rem;
  color: var(--app-search__query-input_color);

  margin: 16px 0 0 0;

  position: relative;

  transition: all $app-search_transition_duration ease $app-search_transition_delay;

  overflow: hidden;
  z-index: 0;


  & > .search__input-section > .search__query-input:not(:placeholder-shown) ~ .search__submit-button-placeholder{
    display: none;
  }
  & > .search__input-section > .search__query-input:not(:placeholder-shown) ~ .search__submit-button{
    display: flex;
  }

  &[toggle="open"] {
    width: 100%;

    padding: 4px;
    margin-top: 12px;

    box-shadow: var(--shadow_first);

    transition: all $app-search_transition_duration ease 0s;

  }

}
.search__input-section{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search__output-section{
  max-height: var($app-search__match-output_max-height);

  width: 100%;
  height: 320px;

  background-color: var(--app-search_background_color);
}

.search__query-input{
  width: calc(100% - 56px);

  color: inherit;

  display: inline-flex;

  user-focus: text;

  position:relative;


  &::-webkit-search-results-button{
    display: none;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  //-webkit-appearance: none;

  margin: 0 16px 0 8px;

  cursor: pointer;
}

.search__submit-button{
  width: 40px;
  height: 40px;

  background-color: rgba(0,0,0,.1);

  border-radius: var(--button_border-radius);


  display: none;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor:pointer;
}
.search__submit-button-placeholder{
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor:pointer;
}
.search__label{
  display: flex;
}
.search__search-svg-icon{
  width: 16px;
  height: 16px;
  
  fill:rgba(0,0,0,.5);

  pointer-events: none;
}

