@import "../../styles/app-vars";
@import "../../styles/mixins/user-activity";


$app-bar__nav-toggle_width:40px;
$app-bar__menu-toggle_width:40px;

$app-bar_width-without-search:
  $app-bar__nav-toggle_width+
  $app-bar__logo_width+
  $app-bar__menu-toggle_width;




//$app-search_outside_min-size:
//$app-bar__driver-toggle-button_width+
//  $app-bar__logo_width+



:root {
  --app-bar__search_width: calc(100vw - #{$app-bar_width-without-search});

}
button,
input{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

input:focus,
input:active{
  border: none;
  outline: none;
}


$search_padding-x_open:4px;
$search_padding-y_open:4px;


.search{
  max-width: $app-search__max-width_open-state;
  //max-height: $app-search__max-height_open-state;
  width: 100%;

  //background: rgba(0,0,0,.1);
  background: var(--app-search_background_color);

  border-radius: var(--app-search_border-radius);

  font-size: 1.1rem;
  color: var(--app-search__query-input_color);

  //margin: 16px 0 0 0;

  position: relative;

  transition: all $app-search_transition_duration ease $app-search_transition_delay;

  overflow: hidden;
  z-index: 0;


  &[toggle-state="open"] > .search__input-section > .search__query-input:placeholder-shown ~ .search__submit-button-placeholder{
    opacity: .7;
    pointer-events: none;
  }
  & > .search__input-section > .search__query-input:not(:placeholder-shown) ~ .search__submit-button-placeholder{
    display: none;
  }
  & > .search__input-section > .search__query-input:not(:placeholder-shown) ~ .search__submit-button{
    display: flex;
  }

  &[toggle-state="open"] {
    width: 100%;

    padding: $search_padding-y_open $search_padding-x_open;
    margin-top: -$search_padding-y_open;

    box-shadow: var(--shadow_first);

    transition: all $app-search_transition_duration ease 0s;

    z-index: 999;
  }

}
.search__input-section{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search__output-section{
  max-height: var($app-search__match-output_max-height);

  width: 100%;
  height: 320px;

  background-color: var(--app-search_background_color);
}

.search__query-input{
  width: calc(100% - 56px);

  color: inherit;

  display: inline-flex;

  user-focus: text;

  position:relative;


  &::-webkit-search-results-button{
    display: none;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  //-webkit-appearance: none;

  margin: 0 16px 0 8px;

  cursor: pointer;
}

.search__submit-button{
  width: 40px;
  height: 40px;

  background-color: rgba(0,0,0,.1);

  border-radius: var(--button_border-radius);


  display: none;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor:pointer;
}
.search__submit-button-placeholder{
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor:pointer;
}
.search__label{
  display: flex;
}
.search__search-svg-icon{
  width: 16px;
  height: 16px;
  
  fill:rgba(0,0,0,.5);

  pointer-events: none;
}

$grid-gap-column:$app-bar__grid_gap-column;
$grid_gap-column_around-wrapper_length_xs:2;
$grid_gap-column_around-wrapper_length_xl:3;
$grid_gap-column_under-wrapper_length_xs:2;
$grid_gap-column_under-wrapper_length_xl:1;
$icon-button:$app-bar__icon-button_width;
$control-bar_length_xs:1;
$control-bar_length_xl:3;

$driver-toggle:$icon-button;
$logo:$app-bar__logo_width;
$control-bar_xs:$icon-button * $control-bar_length_xs;
$control-bar_xl:$icon-button * $control-bar_length_xl;
$grid_gap-column_around-wrapper_size_all_xs:$grid-gap-column * $grid_gap-column_around-wrapper_length_xs;
$grid_gap-column_around-wrapper_size_all_xl:$grid-gap-column * $grid_gap-column_around-wrapper_length_xl;
$grid_gap-column_under-wrapper_size_all_xs:$grid-gap-column * $grid_gap-column_under-wrapper_length_xs;
$grid_gap-column_under-wrapper_size_all_xl:$grid-gap-column * $grid_gap-column_under-wrapper_length_xl;

$wrapper_width_xs: $app-header_padding_x + $grid_gap-column_around-wrapper_size_all_xs + $driver-toggle + $control-bar_xs;
$wrapper_width_xl: /*$app-scroll_y_size + */$app-header_padding_x + $grid_gap-column_around-wrapper_size_all_xl + $driver-toggle + $logo + $control-bar_xl;
$wrapper_margin-left_xs: $app-header_padding_x + $grid_gap-column_under-wrapper_size_all_xs + $driver-toggle + $control-bar_xs;
$wrapper_margin-left_xl: $app-header_padding_x + $grid_gap-column_under-wrapper_size_all_xl + $driver-toggle + $logo + $control-bar_xl;

$wrapper_position_right_xs: $app-header_padding_right + $control-bar_xs + $grid-gap-column;
$wrapper_position_right_xl: $app-header_padding_right + $control-bar_xl + $grid-gap-column;

.search_wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;

  position: absolute;
  right: $wrapper_position_right_xs;

  transition: all $app-search_transition_duration ease 0s;


  &[toggle="true"] {
    width: calc(100% - #{$wrapper_width_xs});
  }

  &[toggle="false"] {
    width: $icon-button;
  }

  @media all and (min-width: $app-bar_media_xs) {
    right: $wrapper_position_right_xl;

    &[toggle="true"] {
      width: calc(100% - #{$wrapper_width_xl});

    }

    &[toggle="false"] {

    }
  }
}