<div class="list">
    <div class="list__item">
        <div class="list__item__subheader">Навигация</div>
        <div class="list">
            <div class="list__item">
                <router-link class="list__item__link" to="/" exact-active-class="nav__active">Главная</router-link>
            </div>
            <div class="list__item">
                <router-link class="list__item__link" to="/book/contents" exact-active-class="nav__active">Оглавление</router-link>
            </div>
        </div>
    </div>
</div>