.idea/
.vscode/
www/node_modules/
www/.env.local
www/.next
www/out
www/.env.local
www/.next

pdf/node_modules/
pdf/public/
pdf/dist/


node_modules/
/package-lock.json
dest/

.env.github.development
.env.local

