@import "../../styles/app-vars";

$guide_size_start: 16px;
$guide_size_end: 16px;
$space_size: 16px;

.section-guide-with-gap {
  width: auto;
  height: 100%;

  position: absolute;
  left: 4px;
}

.section-guide-with-gap__guide {
  width: 1px;

  position: absolute;
}

.section-guide-with-gap__guide_start{
  height: 6px;
}
.section-guide-with-gap__guide_end{
  top: 32px;
  bottom: 0;
}
