@import "../../components/page__index-page__content/page__index-page__content";

@import "../../components/index__title/index__title";


.page-without-driver__content-layout {
  min-height: calc(100vh - var(--app-header_height));

  width: 100%;

  padding: 24px;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}
