@import "prism-vs.theme";

@import "breakpoints";
@import "vars-scss";
@import "tooltip";



main {
  //max-width: var(--app-content_width);
  //width: 100%;

  word-break: break-word;

  //padding: 0 var(--content_padding_x) 24px var(--content_padding_x);

  //z-index:0;

  position: relative;


  @media all and (min-width:$content__nav_down_media){
    //padding: 0 0 48px 0;

  }

  @media all and (min-width: $app-bar_media_xs) {
    //padding: 0 0 48px 0;
  }
}

.content__paragraph {
  padding: 1em 0;
  margin: 0;
  display: inline-block;
}

h1.content__heading, h2.content__heading, h3.content__heading, h4.content__heading {
  line-height: 100%;

  padding: var(--content__h2_padding-top) 0 var(--content__h2_padding-bottom) 0 !important;

  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: flex-start;

  position: relative;

  //@media all and (min-width: $content-layout__center-layout_width){
  //  padding: var(--content__h2_padding-top) 0 var(--content__h2_padding-bottom) 40px!important;
  //  margin: 0 0 0 -40px!important;
  //}

  &:hover {
    z-index: 2;
  }

  &:hover:before {
    content: "";

    width: 48px;
    height: 100%;


    position: absolute;
    left: -48px;
    top: 0;

    z-index:99999;

    @media all and (min-width: $content-layout__center-layout_width) {
      width: 40px;
      left: -40px;
    }
  }

  @media all and (min-width: $app-bar_media_xs) {
    flex-direction: row;

    &:hover {
      & > button.content__button_copy-to-buffer {
        visibility: visible;

        & > .copy-to-buffer-button__svg-icon {
          fill-opacity: .7;
        }
      }
    }
  }
}

.copy-to-buffer-button__svg-icon {
  fill: var(--color_base_50)!important;
}


h1.content__heading {
  font-size: 36px;
}
h2.content__heading {
  font-size: 28px;
}

.gatsby-highlight{
  word-break: break-word;
}
pre,
code {
  &[class*="language-"]{
    font-size: 1em;
    word-break: break-word;
  }
}
pre {
  //max-width:180px;
  white-space: pre-wrap !important;
  //word-break:break-word!important;

  background-color: var(--content__code_background-color);

  padding: var(--content__code_padding_y) var(--content__code_padding_x)!important;
  margin: 0 !important;

  &[class="launguage-ts"] {

  }
}
pre code {
  white-space: pre-wrap!important;

}
.content__code_inline{
  color:tomato;

  white-space: pre-wrap!important;
  word-wrap:break-word!important;
  word-break:break-word!important;
  //word-break:break-word!important;

  border:1px solid var(--color_darklite);
  border-radius: 1px;

  padding: 0 5px;
}

.content__section {
  line-height: 24px;
  padding: calc(var(--app-header_height) + var(--app-offset_top)) 0 var(--content__section_padding-bottom) 0;
  //padding: 24px 0 var(--content__section_padding-bottom) 0;

  &:first-child{
    //padding:0 0 var(--content__section_cover_padding-bottom) 0;
    margin-bottom: -48px;
    //margin:0 0 var(--content__section_cover_margin-bottom) 0;
  }
  &:last-child{
    margin-bottom: 128px;
  }
}

.content-conclusion{

}
.content-conclusion__item{
  &:not(:last-child) {
    margin: 0 0 40px 0;

  }
}

ul.content__list{
  margin: var(--content__ul_margin-top) 0 var(--content__ul_margin-bottom) var(--content__ul_margin-left)!important;

  list-style: disc;

  &>li{
    padding: 8px 0;
  }
}

.content__tooltip_copy-to-buffer {
  @include get-tooltip-position($TOOLTIP-POSITION_BOTTOM-LEFT);

  @media all and (min-width: $content-layout__center-layout_width) {
    @include get-tooltip-position();
  }
}



button.content__button_copy-to-buffer {
  //margin:0 0 0 -32px;

  display: flex;
  justify-content: center;

  position: relative;

  cursor:pointer;

  z-index: 99999;

  @media all and (min-width:$app-bar_media_xs){
    position:absolute;
    margin: 0 0 0 -36px;

  }
  @media all and (min-width: $content-layout__center-layout_width){
    left: 0;

    margin: 0 0 0 -40px;
  }

  &>.svg-icon{
    transform: scale(.8);
    transition:transform .4s ease;

    @media all and (min-width: $content-layout__center-layout_width){
      transform: scale(1);
    }
  }
  &:hover>.svg-icon{
    fill:var(--svg-icon_color-default_hover);
  }
  &:active{
    &>.svg-icon{
      transform:scale(.6);

      @media all and (min-width: $content-layout__center-layout_width){
        transform: scale(.8);
      }
    }
  }


  @media all and (min-width: $app-bar_media_xs){
    &{
      visibility: collapse;
    }
  }




  @include tooltip-hover-hook-with-media();
}


@each $lang, $color in $programLanguageNameToColorMap{
  .content__code-panel_lang_#{$lang}{
    background-color: $color;
  }
}

$panel__border-radius: 2px;

.content__pre {
  background: none;

  border-left: 1px solid var(--color_dark_90);
  border-right: 1px solid var(--color_dark_90);
}
.content__code {
  //margin: var(--content__code-block_margin-top) 0 var(--content__code-block_margin-bottom) 0;
  padding: 32px 0 48px 0;
}
.content__code-panel_top{
  width: 100%;

  //background-color: cadetblue;

  border-top-left-radius:$panel__border-radius;
  border-top-right-radius:$panel__border-radius;
  padding: 8px;

  display:flex;
  justify-content: space-between;
  align-items: center;
}
.content__code-panel_bottom{
  border-bottom-left-radius:$panel__border-radius;
  border-bottom-right-radius:$panel__border-radius;
  padding: 8px 16px;
}

.content_code-label_filepath{
  color:white;
}
.content_code-label_lang{
  background-color: var(--app_base-color);

  border-radius: var(--app_border-radius-default);

  padding: 2px 12px;
}

.content__tag-bar {
  padding: 0 0 32px 0;
  margin: -16px 0 0 0;
}
.content__tag-bar__tag {
  color: var(--app_base-color);
  font-size: 12px;

  text-transform: lowercase;

  border-radius: 2px;
  padding: 6px;
}
