.divide_x{
  width: 100%;
  height: 1px;

  //background-color: var(--color_darkmiddle);

  //border-top: 1px solid var(--color_darkmiddle);

  margin: 8px 0;
  position: relative;

  &:after{
    content: "";

    //width: 100%;
    height: 100%;

    background-color: var(--color_darkmiddle_rgba);

    position: absolute;
    left: 8px;
    right: 8px;
  }
}
.divide-full_x {
  @extend .divide_x;

  &:after {
    left: 0;
    right: 0;
  }
}