@import "./breakpoints";
@import "./vars-scss";

:root{
  --book-toc__section-color_common:#{$book-toc__section-color_common};
  --book-toc__section-color_typing-introduction:#{$book-toc__section-color_typing-introduction};
  --book-toc__section-color_syntactic-construction:#{$book-toc__section-color_syntactic-construction};
  --book-toc__section-color_types:#{$book-toc__section-color_types};
  --book-toc__section-color_typescript-features:#{$book-toc__section-color_typescript-features};
  --book-toc__section-color_working-with-types:#{$book-toc__section-color_working-with-types};
  --book-toc__section-color_typing:#{$book-toc__section-color_typing};
  --book-toc__section-color_extended-types:#{$book-toc__section-color_extended-types};
  --book-toc__section-color_react:#{$book-toc__section-color_react};
  --book-toc__section-color_assembly:#{$book-toc__section-color_assembly};
  --book-toc__section-color_compiler:#{$book-toc__section-color_compiler};
  --book-toc__section-color_classes:#{$book-toc__section-color_classes};
}


:root {
  /*breakpoints*/
  --breakpoint_sm: 576px;
  /*warning*/
  --book-toc__aside_height: #{$book-toc__aside_height};
  /**/
  /*media*/
  --media_app-bar_xs: #{$app-bar_media_xs};
  --media_app_layout_right_show: #{$content-layout__right-layout_media_width_xl};
  --media_content-nav_xs: #{$content__nav_down_media};


  /*colors*/

  --color_dark_lite: #{$color_dark_lite};

  --color_dark_95: #{$color_dark_95};
  --color_dark_90: #{$color_dark_90};
  --color_dark_80: #{$color_dark_80};
  --color_dark_60: #{$color_dark_60};
  --color_dark_50: #{$color_dark_50};
  --color_dark_40: #{$color_dark_40};
  --color_dark_30: #{$color_dark_30};
  --color_dark_20: #{$color_dark_20};
  --color_dark_10: #{$color_dark_10};
  --color_dark_5: #{$color_dark_5};

  --color_base_50: #{$color_base_50};
  --color_red_50: #{$color_red_50};

  --color_default-lite: #{$color__default-lite};
  --color_darkmiddle: #{$color_darkmiddle};
  --color_darklarge: #{$color_darklarge};
  --color_darklarge_hover: #{$color_darklarge_hover};
  --color_dark: #{$color_dark};
  --color_darklite: #{$color_darklite};
  --color_dark_hover: #{$color_dark_hover};
  --color_darkmiddle_rgba: #{$color_darkmiddle_rgba};

  --color_dark-night: #001529;

  --link_color_default: rgba(0, 0, 255, .9);
  --link_color_default_hover: rgba(0, 0, 255, 1);

  /*color__font*/
  --font_color_dark_60: #{$color_dark_60};

  /*user activity*/
  --user-activity_focus-color: #63a8ff;

  /*app common*/
  --app-header_height: 50px;
  --app-footer_height: #{$app-footer_height};
  --app-driver__section-control_height: #{$app-driver__section-control_height};
  --app-content_width: #{$app-content_width};
  --app-content_min-height: calc(100vh - var(--app-header_height));
  --app-content-bar_width: #{$app-content_width + $padding_48x2};

  --app-offset_top: 24px;


  --content__nav-down_height: 64px;

  --content__aside-bar_width: #{$content__aside-bar_width};

  --content__control-bar__dropdown-menu_padding_y: #{$content__control-bar__dropdown-menu_padding_y};

  --content__control-bar_height: #{$content__control-bar_height};
  --content__control-bar__dropdown-menu__header_height: #{$content__control-bar__dropdown-menu__header_height};
  --content__control-bar__dropdown-menu__header_margin-bottom: #{$content__control-bar__dropdown-menu__header_margin-bottom};


  --content-layout_max-width: #{$content-layout__center-layout_width};
  --content-layout_padding_x: #{$padding_48};
  --content-layout_padding_y: #{$padding_48};

  --content-layout_position_top: 72px;

  --content-layout__aside-bar_position_top: #{$app-header_height+$content__control-bar_height};

  --contributor__avatar_default-contributor_size: 24px;
  --contributor__avatar_creator-contributor_size: 32px;

  @media (min-width: $size_sm) {
    --app-header_height: 102px;

  }

  @media all and (min-width: $content-layout__center-layout_width) {
    --content-layout_padding_x: #{$padding_96};
    --content-layout_padding_y: #{$padding_48};
  }

  --content-layout__left-layout_width: #{$content-layout__left-layout_width};
  --content-layout__left-layout_width_negative-number: #{-$content-layout__left-layout_width};
  --content-layout__center-layout_width: #{$content-layout__center-layout_width};
  --content-layout__right-layout_width: #{$content-layout__right-layout_min-width};
  --content-layout__right-layout_min-width: calc(100vw - #{$content-layout__left-layout_width + $content-layout__center-layout_width});
  --content-layout__driver-and-content_min-width: #{$content-layout__driver-and-content_min-width};
  --app-nav_link_active: #63a8ff;
  --page-nav_link_active: tomato;

  /*content-bar*/
  --content-bar_max-width: #{$app-content_width + $padding_48x2};
  --content_max-width: #{$app-content_width + $padding_48x2};

  --content-bar__primary-bar_padding_x: #{$padding_16};
  --content_padding_left: 32px;
  --content_padding_right: 24px;
  --content_padding_x: #{$padding_24};

  --win-content-bar__primary-bar_padding_x: #{$padding_16};
  --win-content_padding_x: #{$padding_24};

  --app-driver_padding: #{$padding_16};

  --content__cover_padding: #{$padding_24};

  --content__heading-h2_padding-top: 12px;
  --content__heading-h2_padding-bottom: 24px;

  --content__ul_margin-top: 12px;
  --content__ul_margin-bottom: 24px;
  --content__ul_margin-left: 24px;

  --content__code-block_margin-top: 32px;
  --content__code-block_margin-bottom: 48px;
  --content__code_background-color: #{$color_darklite_max};
  --content__code_padding_x: 16px;
  --content__code_padding_y: 24px;
  --content__h2_padding-top: 12px;
  --content__h2_padding-bottom: 32px;
  --content__section_cover_padding-top: 24px;
  --content__section_cover_padding-bottom: 0;
  --content__section_cover_margin-bottom: 0;
  --content__section_padding-top: #{$app-header_height+$content__control-bar_height};
  --content__section_padding-bottom: 0;

  @include media-breakpoint-up(sm) {
    --content_padding_x: 0;
  }

  @media all and (min-width: $app-bar_media_xs) {
    --content-bar__primary-bar_padding_x: #{$padding_24};
    --content_padding_x: #{$padding_24x2};
    --content_padding_left: 56px;
    --content_padding_right: 56px;

    --win-content-bar__primary-bar_padding_x: #{$padding_24};
    --win-content_padding_x: #{$padding_24};

    --app-driver_padding: #{$padding_24};

    --content__cover_padding: #{$padding_24x2};

    --content__heading-h2_margin-top: 24px;
    --content__heading-h2_margin-bottom: 48px;

    --content__ul_margin-top: 16px;
    --content__ul_margin-bottom: 32px;
  }

  /*app-scrollbar*/
  --scrollbar_width: 16px;
  --scrollbar__thumb_color: #d0d0d0;
  --scrollbar__thumb_color_hover: #b7b7b7;
  --scrollbar__track_color: #e5e5e5;
  --scrollbar__button_color: #b7b7b7;

  --scrollbar_border-color: #e5e5e5;
  --scrollbar_border-size: 2px;
  --scrollbar_border-radius: 3px;


  /*app-search*/
  --app-search_background_color: #{$color_darklite};
  --app-search_background_border-color: rgba(0, 0, 0, .4);
  --app-search_border-radius: 5px;

  --app-search__query-input_color: rgba(0, 0, 0, .8);

  --app-search_width: 320px;
  --app-search_height: 40px;

  /*svg-icons*/
  --svg-icon_color-default: rgba(0, 0, 0, .6);
  --svg-icon_color-default_hover: rgba(0, 0, 0, .7);

  /*buttons*/
  --button_bg_color-default: #{$color_darklite};
  --button_color-default_hover: #{$color_darklite};
  --button_border-radius: 5px;

  --button_bg_color_balck-rgba_default: rgba(0, 0, 0, 0.1);
  --button_bg_color_balck-rgba_default_hover: rgba(0, 0, 0, 0.12);

  --flat-button_color: #{$color_darklite};
  --flat-button_color_hover: #{$color_darklite_hover};

  /*common vars*/
  //--app_border_color-default: rgba(0, 0, 0, .2);
  --app_border_color-default: #{$border__color_darklite};
  --app_border-radius-default: 5px;
  --app_base-color: white;
  --app_base_darklite-color: #{$color_darklite};
  --app_base_darkmiddle-color: rgba(0, 0, 0, .7);

  --app_container_padding: 16px;


  //--telegram_default-color: rgba(49, 168, 222, 1);
  --telegram_default-color: rgb(52, 171, 227, 1);
  --telegram_default-color_hover: rgba(49, 168, 222, .2);
  --github_default-color: rgba(0, 0, 0, .15);
  --github_default-color_hover: rgba(0, 0, 0, .1);


  /*box-shadow*/
  --shadow_first: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 8px 10px 1px rgba(0, 0, 0, .14),
  0 3px 14px 2px rgba(0, 0, 0, .12);

  --shadow_dropdown-menu_top: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 2px 8px 1px rgba(0, 0, 0, .14),
  0 -3px 14px 2px rgba(0, 0, 0, .12);

  --radio_shadow_active: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 8px 10px 1px rgba(0, 0, 0, .14),
  0 3px 14px 2px rgba(0, 0, 0, .12);

  --radio_shadow_unactive: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 8px 10px 1px rgba(0, 0, 0, .14),
  0 3px 14px 2px rgba(0, 0, 0, .12);


}
