.scale-container{
  max-height: 24px;

  display: inline-flex;

  transition:transform .3s;

  position: relative;
  transform:scale(1);
}
.scale-container-provider{
  display: flex;
}
.scale-container_scale-active{
  transform: scale(.8);
}