.content__app-footer {
  width: 100vw;

  //padding-right: 24px!important;

  position: absolute;
  //left: 0;
  bottom: 0;

  @media all and(min-width: 800px) {
    //margin-left: calc(calc(50vw - calc(var(--content-layout_max-width) / 2)) * -1);

  }
}