.app-footer{
  min-height: var(--app-footer_height);
  max-height: var(--app-footer_height);

  background-color: var(--color_base_50);

  padding: 8px;
  display: flex;
  justify-content: flex-end;

  position: relative;

  &:after {
    content: "";

    width: 100%;
    height: 1px;

    background-color: var(--color_base_50);

    position: absolute;
    left: 0;
    top: 0;

  }
}

