.bc-cover-grid{
  width: 100%;

  display: grid;
  grid-template-columns: calc(var(--content__cover_padding) + 72px) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
          "index section"
          "title title";

  position: relative;
}

.bc-cover-grid-item__cover {
  width: 100%;
  height: 100%;

  grid-column: 1/3;
  grid-row: 1/3;

  position: relative;

  z-index: -1;
}
.bc-cover-grid-item__title {
  font-size: 1.6rem;


  padding: 0 var(--content__cover_padding) var(--content__cover_padding) var(--content__cover_padding);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  grid-area: title;

}
.bc-cover-grid-item__index{
  text-align: start;

  padding: var(--content__cover_padding) 0 0 var(--content__cover_padding);

  grid-area: index;
  //grid-column: 1/5;
  //grid-row: 1/2;
}
.bc-cover-grid-item__section{
  text-align: end;

  padding: var(--content__cover_padding) var(--content__cover_padding) 0 0;

  grid-area: section;
  //grid-column: 3/5;
  //grid-row: 1/2;
}


.bc-cover__index,
.bc-cover__section {
  font-size: 1.2rem;

  background-color: rgba(255,255,255,.2);

  border-radius: var(--app_border-radius-default);

  padding: 16px;
}

.bc-cover__title{
  font-size: 1.5rem;

  margin: 0;
}
