@import "../../styles/app-vars";

.css-icon-viewbox {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-nav-animated-css-icon {
    width: 18px;
    height: 18px;

    padding-bottom: 3px;
}

.main-nav-animated-css-icon__line {
    width: 18px;
    height: 2px;

    background-color: black;

    margin-top: 3px;

    transition: .3s;
}


@mixin icon_on() {
    &:nth-child(1) {
        transform: translateY(5px) translateZ(0) rotate(45deg);
    }
    &:nth-child(2) {
        opacity: 0;
    }
    &:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }
}

.main-nav-animated-css-icon_on {
    & > .main-nav-animated-css-icon__line {
        @include icon_on();
    }
}
//.main-nav-animated-css-icon_on>.main-nav-animated-css-icon__line:nth-child(1) {
//
//}
//
//
//.main-nav-animated-css-icon_on>.main-nav-animated-css-icon__line:nth-child(2){
//
//}
//.main-nav-animated-css-icon_on>.main-nav-animated-css-icon__line:nth-child(3){
//
//}

.main-nav-animated-css-icon_placeholder {
    @media (min-width: $media__app-driver_auto-open) {
        & > .main-nav-animated-css-icon__line {
            @include icon_on();
        }
    }
}
