* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
}

body{
  overflow-x: hidden;
}


.link {
  white-space: nowrap;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
