*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button{
  background: none;
  border: none;
}
button:focus,
button:focus-within,
button:active{
  outline: none;

}
button:disabled{
  opacity: .3;
  pointer-events: none;
}

h1,h2,h3,h4,h5,h6{
}
fieldset {
  outline: none;
  border: none;

  padding: 0;
}
