.lines-x {
  background: linear-gradient(white 50%, transparent 50%);
  background-size: 2em 2em;
}

.pink {
  background-color: pink;
}
.orange {
  background-color: orange;
}
.tomato {
  background-color: tomato;
}

.fill{
  width: 100%;
  height: 100%;
}



.h-x3{
  height: 300vh;
}


.app-logo {
  width: 48px;
  height: 48px;

  background: orchid;

  border-radius: 50%;

}
