.content__tag-bar {
  padding: 4px 0 4px 2px;
  margin: -24px 0 24px 0;

}
.content__tag-bar-tag {
  font-size: .8rem;
  text-transform: lowercase;
  line-height: 100%;

  padding: 4px 6px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  display: inline-flex;
  align-content: center;

  opacity: .8;

  &:not(:last-child){
    margin-right: 4px;
  }
}
.content__tag-bar-tag_default {
  //color: dimgrey;
  //border-color: dimgray;
  color:white;
  background-color: dimgray;
}
.content__tag-bar-tag_critical {
  color: white;
  //border-color: red;
  background-color: red;

}
.content__tag-bar-tag_new {
  color: white;
  //border-color: red;
  background-color: mediumspringgreen;

}
.content__tag-bar-tag_change {
  color: white;
  //border-color: red;
  background-color: #fabc00;

}
.content__tag-bar-tag_compiler {
  color: white;
  //border-color: blue;
  background-color: blue;

}
