@import "../../styles/app-vars";

.book-toc__tag{
  max-width: 100%;
  width: min-content;

  color:var(--color_default-lite);

  font-size: .8rem;

  border-radius: var(--app_border-radius-default);

  padding: 8px 16px 8px 8px;

  display: inline-flex;
  align-items: center;

  align-self: baseline;

  cursor: pointer;

  &:hover{
    text-decoration-line: underline;
  }
  &:not(:last-child){
    margin: 0 4px 4px 0;
  }

  @media all and (min-width: $content-layout__right-layout_media_width_xl){
    @media all and (min-height: $content-layout__right-layout_media_height_xl){
      margin-right: 0;
    }
  }
}

.book-toc__tag_clear-filter {
  color: var(--color_darklarge);
  white-space: nowrap;

  background-color: var(--color_darklite);

  &:hover{
    color:var(--color_darklarge_hover)
  }
}
.book-toc__section-match-count{
  width: 16px;
  height: 16px;

  background-color: var(--color_default-lite);

  color: var(--color_darkmiddle);

  font-size: .7rem;
  text-align: center;
  vertical-align: middle;


  padding: 2px;
  margin: 0 4px 0 0;

  border-radius: 50%;

  flex-shrink: 0;
}
.book-toc__tag-label{
  white-space:pre;
  max-width:calc(100% - 8px);
}
