$icon-size:24px;
$line-width:14px;
$line-height:2px;

$offset_x:($icon-size - $line-width)/2;
$offset_y:($icon-size - $line-height)/2;

.search-reset-css-icon{
  min-width: $icon-size;
  min-height: $icon-size;

  outline: 1px solid blue;

  position: relative;

  pointer-events: none;

  &:before,
  &:after{
    content: "";

    width: $line-width;
    height: $line-height;

    background: #000000;

    position: absolute;
    left: $offset_x;
    top:$offset_y;

    pointer-events: none;
  }
  &:before{
    transform-origin: center center;
    transform: rotate(45deg);
  }
  &:after{
    transform-origin: center center;
    transform: rotate(-45deg);
  }

}