<div class="grid-container__home-page">
    <div class="home-page-grid-item__title">
        <div class="home-page__title-group">
            <span class="title-section">
                <span>TYPESCRIPT</span>
                <span class="home-page__title__book-version">3.2</span>
            </span>
            <span class="title-section">DEFINITIVE</span>
            <span class="title-section">GUIDE</span>
        </div>
    </div>
    <div class="home-page-grid-item__gallery">
        <img class="home-page__book__cover" :src="ORIGIN + BASE_URL + 'assets/images/book-cover-with-ufo.png'" alt="book-cover">
    </div>
    <div class="home-page-grid-item__social">
        <share-social-bar></share-social-bar>
    </div>
    <div class="home-page-grid-item__control">
        <button class="home-page__read-button" @click="readButton_click()">
            <svg-icon class="home-page__read-button__icon" name="iconmonstr-book-17"></svg-icon>
            <span class="home-page__read-button__label">Читать</span>
        </button>
    </div>
</div>
