.checkbox{
  display:flex;
  align-items: center;

}
.checkbox__input{
  opacity: 0;

  position:absolute;

  &:checked {
    & + .checkbox__svg-icon-group > .checkbox__svg-icon_active{
      display:block;
    }
    & + .checkbox__svg-icon-group .checkbox__svg-icon_unactive{
      display: none;
    }

  }
  &:not(:checked) {
    & + .checkbox__svg-icon-group > .checkbox__svg-icon_active{
      display: none;
    }
    & + .checkbox__svg-icon-group > .checkbox__svg-icon_unactive{
      display: block;
    }
  }

}
.checkbox__icon-group {
  width: 24px;
  height: 24px;

  margin: 0 16px 0 0;
}
.checkbox__svg-icon {
  fill: var(--color_base_50)!important;

  position: absolute;

}
