@mixin menu-open{
  &{
    opacity: 1;
    visibility: visible;

    transform: translateY(0);

    pointer-events: all;
  }
}
@mixin menu-close{
  &{
    opacity: 0;
    visibility: collapse;

    transform: translateY(30px);

    pointer-events: none;
  }
}

@mixin dropdown-base{
  $dropdown_transition-time:.4s;

  @content;



  & {
    position: relative;


    &:hover > &__menu{
      @include menu-open;
    }
  }



  &__menu {
    //cursor: pointer;


    position: absolute;


    transition: visibility $dropdown_transition-time,
    opacity $dropdown_transition-time,
    transform $dropdown_transition-time;
  }


  &__menu_horizontal-align_end{
    right: 0;
  }
}
