@import "../../styles/app-vars";
@import "../../styles/mixins/user-activity";
@import "../tooltip/tooltip";


.adaptive-menu-button-link {
  //height: fit-content;

  border-radius: var(--button_border-radius);

  padding: 16px 16px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  cursor: pointer;

  position: relative;


  @include focus;

  @media all and (min-width: $app-bar_media_xs) {
    padding: 12px;

    justify-content: center;
    align-items: center;

    & svg {
      width: 16px;
      height: 16px;
    }

    @include tooltip-hover-hook-with-media();

  }

  &:hover {
    //background-color: var(--button_color-default_hover);
    & svg {
      fill-opacity: .65;
    }

    .adaptive-menu-button-link__label {
      //width: auto;
      //
      //font-size: .8rem;
      //white-space: nowrap;
      //
      //visibility: visible;
      //
      //padding: 8px;
      //
      //border: 1px solid var(--app_border_color-default);
      //border-radius: var(--app_border-radius-default);
      //
      //
      //pointer-events: none;
      //
      //position: absolute;
      //left: -50%;
      //top: 0;

    }
  }

  & svg {
    fill-opacity: .6;
    margin: 0 8px 0 0;

    pointer-events: none;

    @media all and (min-width: $app-bar_media_xs) {
      margin: 0;
    }
  }


}

.adaptive-menu-button-link__label{
  width: 100%;

  font-size: 14px;

  display:flex;
  flex-direction: column;

  @media all and (min-width: $app-bar_media_xs) {
    display: none;
  }
}