@import "../../styles/app-vars";

.bc-control-bar-layer {
  width: 100%;
  height: 100%;

  padding: 7px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;


  @media all and (max-width: #{$app-content_media_xs}) {
    padding: 0 12px 0 24px;

  }
}
