@import "../../styles/app-vars";

.toc-menu__section-content {
  padding: 12px 0 0 16px;

  position: relative;


  position: relative;

  &:before {
    content: "";

    height: 100%;

    border-left: 1px solid;
    border-color: inherit;

    margin: 0 0 0 12px;

    position: absolute;
    top: 0;
    left: 8px;
  }
}
