.download-pdf-button {
  width: 100%;

  background-color: white;

  border: 1px solid var(--color_dark_80);
  border-radius: var(--button_border-radius);
  padding: 8px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow .15s ease-in;

  &:hover {
    box-shadow: var(--shadow_first);
  }
}
.download-pdf-button__svg-icon {
  fill: red!important;

  margin: 0 12px 0 0;
}
.download-pdf-button__label {
  color: var(--color_dark_10);
  font-size: 16px;
  font-weight: bold;
}

