.not-found
    width: 100%
    height: 100%

    background: white

    display: flex
    justify-content: center

    z-index: 100000

    position: fixed

    top: 0
    left: 0

.not-found__content
    height: 100%

    padding: 48px

    display: inline-flex!important
    flex-direction: column

.not-found__content__control
    width: 100%

    display: flex

    justify-content: flex-end
.not-found__conten__title
    font-size: 6vw

    margin: 0 0 48px 0
