

<!--<md-empty-state-->
        <!--md-icon="close"-->
        <!--md-label="Страница Не Найдена">-->
    <!--<div class="md-layout md-alignment-center">-->
        <!--<md-button @click="home()">На Главную</md-button>-->
        <!--<md-button v-if="!isEnterRoute" @click="back()">Назад</md-button>-->
    <!--</div>-->
<!--</md-empty-state>-->
<div class="not-found">
    <div class="md-layout md-alignment-center-center">
        <h1 class="md-display-4">Страница Не Найдена</h1>
        <div class="md-layout md-alignment-center">
            <md-button @click="home()">На Главную</md-button>
            <md-button v-if="!isEnterRoute" @click="back()">Назад</md-button>
        </div>
    </div>
</div>
