.nf-control-bar{
  margin: 16px 0;


}

.nf-control-bar__item {
  &:not(:last-child){
    margin: 0 16px 0 0;
  }
}

.go-back-button,
.go-home-button {
  border-radius: var(--button_border-radius);
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
  }
}

.go-back-button{
  color: var(--color_dark_80);
  background-color: var(--color_dark_10);
}
.go-home-button{
  color: white;
  background-color: tomato;
}

.info {
  text-align: center;

  max-width: 80vw;

  background-color: lavenderblush;

  border-radius: 6px;
  padding: 16px 24px;

  display: flex;
  justify-content: center;
  flex-direction: column;


}

.not-found-page{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nfp-title{
  color: tomato;
  font-size: 40vw;

  margin: 0 0 24px 0;

  @media all and (orientation: landscape){
    font-size: 30vh;
  }
}
.nfp-subtitle{
  color: var(--color_dark_70);
  font-size: 5vw;

  @media all and (orientation: landscape){
    font-size: 7vh;
  }
}
