.filter-dropdown__menu{
  min-width: 280px;
  max-width: 100vw;

  background-color: var(--app_base-color);

  border-radius: var(--app_border-radius-default);

  position: absolute;

  box-shadow: var(--shadow_first);
}
.filter-dropdown__menu_open-state {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.filter-dropdown__menu_close-state{
  opacity: 0;
  visibility: collapse;
  //pointer-events: none;
}
