.activity {
  width: 8px;
  height: 8px;


  border: 1px solid white;
  border-radius: 50%;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 9999;
}

.activity-state_active {
  background-color: green;
}
.activity-state_inactive {
  background-color: dimgrey;
}
