.win-innovation-cover-grid{
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(3,auto);

  position: relative;
}

.win-innovation-cover-grid-item__cover{
  grid-column: 1/5;
  grid-row: 1/auto;
}
.win-innovation-cover-grid-item__title{
  padding: var(--win-page__cover_padding) 0 0 var(--win-page__cover_padding);

  grid-column: 1/3;
  grid-row: 1/2;
}
.win-innovation-cover-grid-item__date{
  text-align: end;

  padding: var(--win-page__cover_padding) var(--win-page__cover_padding) 0 0;



  grid-column: 3/5;
  grid-row: 1/2;
}

.win-content__innovation-cover{
  //margin: 0 0 48px 0;
}
.win-innovation-cover__cover{
  z-index: -1;
}
.win-innovation-color__title{
  font-size: 1.5rem;

  margin: 0;
}
.win-innovation-cover__date{

}