@mixin content-icon($text){
  width: 24px;
  height: 32px;

  background-color: white;

  border-radius: 3px;

  margin: 0 16px 0 0;
  display: inline-block;

  flex-shrink: 0;

  float: left;

  position: relative;


  &:after {
    content: $text;

    color: dodgerblue;

    font-size: 2rem;
    font-weight: bold;

    line-height: 100%;

    display: inline-block;

    position: relative;

    transform: translateX(4px)rotate(12deg);
  }
}
