@import "../../layouts/content-layout/content-layout";


@import "../../components/page__pdf-page__content/page__pdf-page__content";
@import "../../components/app-driver__no-content-driver/no-content-driver-app-driver";
@import "../../components/index__title/index__title";
@import "../../components/button__download-pdf/download-pdf-button";


.page-without-driver__content-layout {
  min-height: calc(100vh - var(--app-header_height));

  width: 100%;

  padding: 24px;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}
