
@mixin native-scrollbar($width){
  &::-webkit-scrollbar {

    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar__track_color);
  }

  &::-webkit-scrollbar-thumb {
    max-height: 200px;

    background-color: var(--scrollbar__thumb_color);
    //border: var(--scrollbar_border-size) solid var(--scrollbar_border-color);
    //border-radius: var(--scrollbar_border-radius);

    opacity: .4;

    position: relative;
    //left: 2px;

    :hover {
      cursor: pointer;
    }
  }
}

@mixin nativeScrollbarSmall(){
  & {
    @include native-scrollbar(16px);

  }
}