
@mixin native-scrollbar($width){
  &:not(:hover){
    &::-webkit-scrollbar-thumb{
      background-color: var(--scrollbar__thumb_color);
    }

  }
  &:not(:hover){
    //&::-webkit-scrollbar-track{
    //  opacity: .2;
    //}
    //&::-webkit-scrollbar-thumb{
    //  opacity: .2;
    //}
  }
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar__track_color);

    border-radius: 20px;

    margin: 8px 0 8px 0;

  }

  &::-webkit-scrollbar-thumb {
    max-height: 200px;

    background-color: var(--scrollbar__thumb_color_hover);
    //border: var(--scrollbar_border-size) solid var(--scrollbar_border-color);
    border-radius: 20px;

    //opacity: .4;

    position: relative;
    //left: 2px;

    :hover {
      cursor: pointer;
    }
  }
}

@mixin nativeScrollbarSmall(){
  & {
    overflow-y: auto;
    @include native-scrollbar(16px);

  }
}