@import "../../styles/app-vars";


.card {
  background-color: var(--app_base-color);

}
.card__header{
  color: var(--color_dark_10);

  text-align: center;

  height: #{$content__control-bar__dropdown-menu__header_height};

  border-bottom: 1px solid var(--color_dark_80);

  padding: 8px 0 12px 0;

  margin: 0 0 #{$content__control-bar__dropdown-menu__header_margin-bottom} 0;
}
.card-header__title{}
.card__content{}