@import "../../styles/app-vars";

.book-toc__aside-layout {
  padding: 32px 0 24px 0;

  @media all and (max-height: $content-layout__right-layout_media_height_xl){
    position: sticky;
    top: var(--app-header_height);
  }
}

.book-toc-aside__label {
  color: var(--color_darkmiddle);
  font-size: .7rem;
  font-weight: bold;

  margin: 0 0 0 16px;
}