@import "../../styles/app-vars";

.book-toc-content-layout{
  //padding: 0 #{$padding_16};
  //
  //@media all and (min-width: $app-bar_media_xs){
  //  padding: 0 #{$padding_24};
  //}
}
.book-toc-content-layout__bar{
  max-width: calc(var(--app-content_width) + #{$padding_48x2});

  width: 100%;
  height: 100%;

  background: var(--app_base-color);

  //padding: 16px var(--content-bar__primary-bar_padding_x);
  //margin: 0 0 32px 0;

  position: sticky;
  top: var(--app-header_height);

  z-index: 99999;
  //
  //&:after {
  //  content: "";
  //
  //  //width: 100%;
  //  height: 1px;
  //
  //  background-color: var(--color_darkmiddle_rgba);
  //
  //  position: absolute;
  //  left: var(--content-bar__primary-bar_padding_x);
  //  right: var(--content-bar__primary-bar_padding_x);
  //  bottom: 0;
  //}
}
.book-toc-content-layout__toc{
  max-width: calc(var(--app-content_width) + #{$padding_48x2});
  width: 100%;

  padding: 24px var(--content_padding_right) 72px var(--content_padding_left);
}
.book-toc__bar{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-toc__control{
  display: flex;
  align-items: center;
}
.book-toc-control__item{
  &:not(:last-child){
    margin-right:4px;
  }
}

.secondary-bar__divider {
  @media all and (min-width: $content-layout__right-layout_media_width_xl) and (min-height: $content-layout__right-layout_media_height_xl) {
    display: none;

  }
}