@import "../dropdown-base/dropdown-base";

.dropdown{
  position:relative;

  z-index:999;

  &:hover{
    &>.dropdown__menu{
      @include menu-open();
    }
  }
}
.dropdown__menu{
  z-index: 999;
}

.dropdown__menu_horizontal-align_end{
  right: 0;
}
