.icon-button{
  width: 40px;
  height: 40px;

  border-radius: 5px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: fill .4s ease;

  &:hover{
    background-color: var(--button_color-default_hover);
  }
  &>.svg-icon {
    fill: var(--svg-icon_color-default);
    transition: fill .2s ease;
  }
  &:hover>.svg-icon {
    fill: var(--svg-icon_color-default_hover);
  }
}