<div class="social-bar__share">
    <md-button class="interactive-icon-button md-icon-button" @click="socialButton_click('telegram')">
        <svg-icon name="social/iconmonstr-telegram-4"></svg-icon>
    </md-button>
    <md-button class="interactive-icon-button md-icon-button" @click="socialButton_click('twitter')">
        <svg-icon name="social/iconmonstr-twitter-4"></svg-icon>
    </md-button>
    <md-button class="interactive-icon-button md-icon-button" @click="socialButton_click('facebook')">
        <svg-icon name="social/iconmonstr-facebook-4"></svg-icon>
    </md-button>
    <md-button class="interactive-icon-button md-icon-button" @click="socialButton_click('vk')">
        <svg-icon name="social/iconmonstr-vk-4"></svg-icon>
    </md-button>
</div>