
// shared dependencies
@import "../../styles/app-vars";
@import "../../styles/main-scrollbar";

.app-grid{
  display:grid;

  grid-template-columns: 100%;
  grid-template-rows: auto var(--app-header_height) 1fr auto;
  grid-template-areas:
          "collapse-informer"
          "header"
          "content"
          "footer";

  position: relative;
}

.app-grid-item__collapsed-informer{
  grid-area: collapse-informer;
}
.app-grid-item__header {
  max-width: 100%;

  grid-area: header;

  position: sticky;
  top: 0;

  z-index: 100;

}
.app-grid-item__content {
  max-width: 100vw;

  min-height: calc(100vh - var(--app-header_height));

  grid-area: content;

  z-index: 1;
}
.app-grid-item__footer {
  grid-area: footer;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 0;
  
}