// cdn dependencies
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic);


//@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "../../styles/clean-native-style";
@import "../../styles/list";
@import "../../styles/link-button";
@import "../../styles/button";
@import "../../styles/native-scrollbars";
@import "../../styles/divide";

/*ui*/
@import "../../components/app__collapse-informer-rotator/app-collapse-informer-rotator";
@import "../../components/outside-click/outside-click";
@import "../../components/ripple-layer/ripple-layer";
@import "../../components/dropdown/dropdown";
@import "../../components/tooltip/tooltip";
@import "../../components/adaptive-menu/adaptive-menu";
@import "../../components/donate-dropdown/donate-dropdown";
@import "../../components/app-bar/app-bar-dropdown";
@import "../../components/transform__scale-container/scale-container";
@import "../../components/button__scale-button/scale-button";
@import "../../components/icon__css-icon__search-reset-css-icon/search-reset-css-icon";
@import "../../components/icon__css-icon__three-dots-animated-css-icon/three-dots-animated-css-icon";
@import "../../components/book-toc-tree-item/book-toc-tree-item";



@import "../../components/app-menu-buttons/app-menu-buttons";


@import "../../components/icon__css-icon__informer-content-icon/css-icon__informer-content-icon";
@import "../../components/icon__css-icon__informer-content-icon/informer-content-icons";
@import "../../components/app-header/app-header";
@import "../../components/app-header/app-header.grid";
@import "../../components/search/search";
@import "../../components/icon__svg-icon/svg-icon";
@import "../../components/icon-button/icon-button";
@import "../../components/main-nav-animated-css-icon/main-nav-animated-css-icon";
@import "../../components/menu-animated-css-icon/menu-animated-css-icon";
@import "../../components/app-nav/app-nav";
@import "../../components/app-bar/app-bar";
@import "../../components/adaptive-menu-button-link/adaptive-menu-button-link";
@import "../../components/donate-button/donate-button";
@import "../../components/informer__danate-informer/donate-informer";
@import "../../components/informer__win-search-copywriters-informer/win-search-copywriters-informer";
@import "../../components/button__colapse-informer-close-button/collapse-informer-close-button";


h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html{
  font-family: 'Roboto', sans-serif;
}