@import "../../styles/app-vars";


.win-toc-content-control-bar {
  margin-right: auto;

  padding: 4px 0;

  @media all and (max-width: #{$app-content_media_xs}) {
    padding: 4px 0 4px 24px;

  }
}
.win-toc-content-control-bar__label{
  line-height: 24px;

  margin: 0 auto 0 0;
}