@import "../../styles/app-vars";
@import "../../styles/breakpoints";
@import "../../styles/mixins/native-scrollbar";



.win-content-layout__grid {
  max-width: var(--content-layout__center-layout_width);

  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 72px auto;
  grid-template-areas:
          "primary-content-bar"
          "content";
}
.win-content-layout-grid-item__primary-content-bar {
  background-color: var(--app_base-color);

  display:flex;
  justify-content:center;

  grid-area: primary-content-bar;

  position: sticky;
  top: $app-header_height;

  z-index: 99999;
}

.win-content-layout-grid-item__content {
  //max-width: var(--app-content_width);

  display: flex;
  justify-content: center;

  grid-area: content;
}

.content-layout-divider{
  width: 100%;
  height: 1px;

  background-color: grey;
}