h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}
h2, h3, h4, h5 {
    padding: 64px 0 64px 0;
}
h3 {
    font-size: 28px;
}
.chapter-heading__chapter-index {
    color: tomato;
    font-size: 32px;

    margin: 0 0 12px 0;
}
.chapter-heading__dot{
    height: 0;
    opacity: 0;
}
.chapter-heading__chapter-title {
    font-size: 40px;
}

