.remark-highlight{
    word-break: break-word;

    margin: 56px 0 72px 0;
}

pre[class*="language-"],
code[class*="language-"] {
    word-break: break-word;
}
pre {
    white-space: pre-wrap !important;

    background-color: var(--content__code_background-color);

    padding: 16px;
    margin: 0;

}
pre > code {
    white-space: pre-wrap!important;

}
:not(pre) > code{
    color:tomato;

    white-space: pre-wrap!important;
    word-wrap:break-word!important;
    word-break:break-word!important;
//word-break:break-word!important;

    border:1px solid var(--color_darklite);
    border-radius: 1px;

    padding: 0 5px;
}
