@import "app-header.grid"

//.custom-icon
    fill: tomato

.custom-icon
    fill: rgba(0,0,0,.6)

.app-header__menu__button__icon
    margin: 0 16px 0 0


.app-info__book-info__chapter-index
    background: rgba(0,0,0,.1)

    border-radius: 3px

    padding: 4px

    margin: 0 0 0 16px

